$logo_size: 45px;
$back_color: #21232E;

$btn-color: rgb(227, 173, 2);
$btn-text-color: white;

$welcome-text-color: white;
$section-card-color: #3B3F50;

$grad-color-1: rgb(227, 173, 2);
$grad-color-2: rgb(150, 50, 80);

$z-layers:(
        underlay:-1,
        overlay: 3
)