$back_color: #fff;
$logo_size: 45px;

$btn-color: rgba(106, 154, 2, 0.84);
$btn-text-color: white;

$welcome-text-color: black;
$section-card-color: #21232E;

$grad-color-1: rgb(106, 154, 2);
$grad-color-2: rgb(50, 95, 206);

$z-layers:(
        underlay:-1,
        overlay: 3
)